In [ ]:
from google.colab import drive
drive._mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.3-cp37-none-manylinux1_x86_64.whl (76.3 MB)
     |████████████████████████████████| 76.3 MB 53 kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.3

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/Tasks/11/train_data.csv')
test = pd.read_csv('/content/drive/MyDrive/Tasks/11/test_data.csv')

In [ ]:
train.head()

        Location  MinTemp  MaxTemp  ...  Temp3pm  RainToday  RainTomorrow
0       Brisbane     13.7     23.6  ...     22.3          0             0
1         Sydney     15.4     21.2  ...     20.7          1             1
2       Richmond     16.8     30.9  ...     30.0          0             0
3  NorfolkIsland     13.9     17.1  ...     15.8          0             0
4       Dartmoor      7.4     14.4  ...     13.5          1             0

[5 rows x 22 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135414 entries, 0 to 135413
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       135414 non-null  object
 1   MinTemp        134061 non-null  float64
 2   MaxTemp        134260 non-null  float64
 3   Rainfall       132401 non-null  float64
 4   Evaporation    79262 non-null   float64
 5   Sunshine       73028 non-null   float64
 6   WindGustDir    125722 non-null  object
 7   WindGustSpeed  125785 non-null  float64
 8   WindDir9am     125506 non-null  object
 9   WindDir3pm     131665 non-null  object
 10  WindSpeed9am   133719 non-null  float64
 11  WindSpeed3pm   132786 non-null  float64
 12  Humidity9am    132946 non-null  float64
 13  Humidity3pm    131631 non-null  float64
 14  Pressure9am    121397 non-null  float64
 15  Pressure3pm    121431 non-null  float64
 16  Cloud9am       84221 non-null   float64
 17  Cloud3pm       81547 non-null   float64
 18  Temp9am        133723 non-null  float64
 19  Temp3pm        132439 non-null  float64
 20  RainToday      135414 non-null  int64
 21  RainTomorrow   135414 non-null  int64
dtypes: float64(16), int64(2), object(4)
memory usage: 22.7+ MB

In [ ]:
train.Location.unique()

array(['Brisbane', 'Sydney', 'Richmond', 'NorfolkIsland', 'Dartmoor',
       'Mildura', 'Adelaide', 'GoldCoast', 'Woomera', 'Witchcliffe',
       'Uluru', 'Albury', 'Cairns', 'Bendigo', 'Newcastle', 'Moree',
       'Canberra', 'Williamtown', 'PerthAirport', 'MountGambier',
       'Katherine', 'Nhil', 'Perth', 'Melbourne', 'Townsville',
       'WaggaWagga', 'Launceston', 'MountGinini', 'Darwin', 'Ballarat',
       'Watsonia', 'Penrith', 'NorahHead', 'Portland', 'SalmonGums',
       'BadgerysCreek', 'MelbourneAirport', 'Walpole', 'Hobart',
       'CoffsHarbour', 'SydneyAirport', 'Albany', 'Tuggeranong',
       'Nuriootpa', 'AliceSprings', 'Wollongong', 'PearceRAAF', 'Cobar',
       'Sale'], dtype=object)

In [ ]:
#NaN's in categorical
train['WindGustDir'].fillna(method='ffill', inplace=True)
train['WindDir9am'].fillna(method='ffill', inplace=True)
train['WindDir3pm'].fillna(method='ffill', inplace=True)

test['WindGustDir'].fillna(method='ffill', inplace=True)
test['WindDir9am'].fillna(method='ffill', inplace=True)
test['WindDir3pm'].fillna(method='ffill', inplace=True)

In [ ]:
from catboost import CatBoostClassifier, Pool, cv

In [ ]:
cat_columns = ['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm']

In [ ]:
model = CatBoostClassifier(iterations=2500,
                           learning_rate=0.01,
                           depth=8,
                           eval_metric= "F1",
                           task_type="GPU",
                          devices='0:1',
                          silent=True)

In [ ]:
train_pool = Pool(train.drop(columns=['RainTomorrow']), train['RainTomorrow'], cat_features=cat_columns)

In [ ]:
model.fit(train_pool,verbose=False)

In [ ]:
# preds_proba = model.predict_proba(test)[:, 1]
# predict = pd.DataFrame(preds_proba)
preds = model.predict(test)
predict = pd.DataFrame(preds)
predict.to_csv('submit_task11.csv', index=False, header=None)